@import "./abstracts/mixins";
@import "./abstracts/variables";

.people {
  width: 100%;
  background-image: url(./img/people-are-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  @media (min-width: 481px) and (max-width: 992px) {
    background-image: url(./img/people-are-full-background.jpg);
    background-position: center center;
    background-size: cover;
  }
  @media (min-width: 993px) {
    background-image: url(./img/people-are-full-background.jpg);
    background-position: center center;
    background-size:cover;
  }
  &--h2 {
    padding-top: 57px;
    padding-bottom: 53px;
    @include montserrat-bold;
    font-size: 36px;
    line-height: 48px;
    color: $white;
    @media (min-width: 481px) and (max-width: 992px) {
      font-size: 42px;
      line-height: 44px;
      margin-top: 87px;
      padding-bottom: 88px;
    }
    @media (min-width: 993px) {
      font-size: 48px;
      line-height: 50px;
      margin-top: 108px;
      padding-bottom: 82px;
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: 481px) and (max-width: 992px) {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: baseline;
      justify-content: center;
    }
    @media (min-width: 993px) {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: baseline;
      justify-content: center;
    }

    &-item {
      text-align: center;
      padding: 0 15px 45px 14px;
      &:last-child {
        padding-bottom: 37px;
        @media (min-width: 481px) and (max-width: 992px) {
          padding-bottom: 68px;
        }
        @media (min-width: 993px) {
          padding-bottom: 118px;
        }
      }
      @media (min-width: 481px) and (max-width: 992px) {
        width: 40%;
        padding: 0 25px 56px 20x;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }
      @media (min-width: 993px) {
        width: 30%;
        padding-bottom: 116px;

        padding: 0 3px 56px;
      }
    }
  
    &-text {
      @include lato-bold;
      font-size: 16px;
      line-height: 24px;
      color: $white;
      padding-top: 29px;
      text-align: center;
      font-style: italic;
    }
  }
  &--text {
    position: relative;
    @include lato-reg;
    font-size: 14px;
    line-height: 21px;
    color: $light-purple;
    padding: 0 35px 36px 34px;
    @media (min-width: 481px) and (max-width: 992px) {
      margin-bottom: 88px;
    }
    @media (min-width: 993px) {
      width: 887px;
      margin: 0 auto;
      margin-bottom: 13.5px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 12px;
      left: calc((100% - 263px) / 2);
      width: 245px;
      height: 2px;
      background-color: #645766;
      @media (min-width: 481px) and (max-width: 767px) {
        width: 364px;
        left: calc((100% - 364px) / 2);
      }
      @media (min-width: 768px) and (max-width: 992px) {
        width: 555px;
        left: calc((100% - 555px) / 2);
      }
      @media (min-width: 993px) {
        width: 780px;
        left: 85px;
      }
    }
  }
}
