li {
  list-style-type: none;
}

a {
  color: white;
  text-decoration: none;
}

ul,
h2,
h1,
p {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
}

.fork {
  background-image: url(./img/forkio-background-320.jpg);
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
}

.fork-wrapper {
  flex-direction: column;
  color: #ffffff;
  text-align: center;
  max-width: 1200px;
}

.fork-title {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 28px;
  line-height: 42px;
  font-weight: 700;
  margin-top: 2px;
  margin-bottom: 32px;
}
@media (min-width: 481px) {
  .fork-title {
    font-size: 42px;
    line-height: 44px;
    font-weight: 700;
    margin-bottom: 39px;
  }
}
@media (min-width: 993px) {
  .fork-title {
    font-size: 48px;
    line-height: 50px;
    font-weight: 700;
    margin-top: 83px;
    margin-bottom: 112px;
  }
}

.fork-list {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}
@media (min-width: 481px) {
  .fork-list {
    flex-direction: row;
    margin: 0 auto;
    margin-left: 121px;
    margin-right: 108px;
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap: 0;
  }
}
@media (min-width: 993px) {
  .fork-list {
    column-gap: 15px;
    margin: 0 auto;
  }
}

.fork__list-item {
  background: rgba(255, 255, 255, 0.11);
  height: 457px;
  width: 257px;
  margin: 0 auto;
}
.fork__list-item:nth-child(4) {
  margin-bottom: 12px;
}
@media (min-width: 481px) {
  .fork__list-item {
    margin: 0 auto;
    margin-bottom: 71px;
  }
}

.fork__list__item-active {
  background: rgba(70, 48, 72, 0.84);
  height: 560px;
  width: 299px;
  margin: 0 auto;
}
@media (min-width: 481px) {
  .fork__list__item-active {
    margin: -41px 0 94px -42px;
  }
}
@media (min-width: 993px) {
  .fork__list__item-active {
    margin: -51px 0 77px 0;
  }
}

.fork__item-productName {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 36px;
  padding-bottom: 36px;
  margin: 0;
  background: rgba(255, 255, 255, 0.06);
}

.fork__item__productName-active {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 43px;
  padding-bottom: 43px;
  margin: 0;
  background: rgba(0, 0, 0, 0.11);
}

.fork__item-price {
  font-family: "Montserrat", "Arial", sans-serif;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 60px;
  font-weight: 700;
  line-height: 62px;
}
.fork__item-price::before {
  font-size: 60px;
  font-weight: 400;
  line-height: 62px;
  content: "$";
}

.fork__item__price-active {
  font-family: "Montserrat", "Arial", sans-serif;
  margin-top: 14px;
  margin-bottom: 16px;
  font-size: 82px;
  font-weight: 700;
  line-height: 84px;
}
.fork__item__price-active::before {
  font-size: 82px;
  font-weight: 400;
  line-height: 84px;
  content: "$";
}

.fork__item-period {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.fork__item__period-active {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.fork__item-line {
  color: rgb(141, 129, 172);
  border-top: 4px solid;
  width: 60px;
  margin-top: 38px;
  margin-bottom: 30px;
}

.fork__item__line-active {
  color: rgb(141, 129, 172);
  border-top: 4px solid;
  width: 60px;
  margin-top: 46px;
  margin-bottom: 40px;
}

.fork__item-license {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  height: auto;
  padding: 0 23px;
}

.fork__item__license-active {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  height: 48px;
  padding: 0 50px;
}

.fork__item-btn {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  margin-top: 37px;
  width: 163px;
  height: 45px;
  border: none;
  border-radius: 25px;
  color: white;
  background-color: rgba(255, 255, 255, 0.15);
  cursor: pointer;
}

.fork__item__btn-active {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  margin-top: 83px;
  margin-bottom: 47px;
  width: 190px;
  height: 52px;
  border: none;
  border-radius: 25px;
  color: white;
  background-color: rgba(255, 255, 255, 0.15);
  cursor: pointer;
  font-size: 16px;
  line-height: 18px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  position: relative;
  background-color: #27262a;
  margin-bottom: 79.5px;
}
@media (min-width: 481px) and (max-width: 992px) {
  .header {
    margin-bottom: 93px;
  }
}
@media (min-width: 993px) {
  .header {
    margin-bottom: 66px;
    background-color: #000000;
  }
}
.header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 320px) and (max-width: 480px) {
  .header__navbar {
    padding: 34px 15px 24px 16px;
  }
}
@media (min-width: 481px) and (max-width: 992px) {
  .header__navbar {
    padding: 22px 20px 54px;
  }
}
@media (min-width: 1200px) {
  .header__navbar {
    padding: 0px;
    margin-left: 80px;
  }
}
@media (min-width: 481px) and (max-width: 992px) {
  .header__navbar-logo {
    display: flex;
    align-items: center;
  }
}
@media (min-width: 993px) {
  .header__navbar-logo {
    display: flex;
    align-items: center;
    margin-top: 29px;
  }
  .header__navbar-logo:hover > span {
    color: #ffffff;
  }
  .header__navbar-logo:hover > svg {
    fill-opacity: 0;
    background-image: url(./img/logo-hover.svg);
  }
}
.header__navbar-forkio {
  display: none;
}
@media (min-width: 481px) {
  .header__navbar-forkio {
    display: block;
    color: #8d81ac;
    font-family: "Lato", "Arial", sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 16px;
    margin-left: 17px;
    text-transform: uppercase;
  }
}
.header__buy-now {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: bold;
  width: 119px;
  height: 37px;
  font-size: 15px;
  line-height: 15px;
  background: #8d81ac;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 481px) and (max-width: 992px) {
  .header__buy-now {
    width: 145px;
    height: 38px;
    font-size: 16px;
    line-height: 16px;
  }
}
@media (min-width: 993px) {
  .header__buy-now {
    display: none;
    width: 145px;
    height: 38px;
    font-size: 16px;
    line-height: 17px;
    margin-top: 31px;
    box-sizing: border-box;
  }
  .header__buy-now:hover {
    background-color: #ffffff;
    color: #8d81ac;
    border: #8d81ac 1px solid;
  }
}
.header__buy-now--link {
  display: none;
}
@media (min-width: 993px) {
  .header__buy-now--link {
    display: flex;
  }
}
.header__button {
  position: relative;
  width: 26px;
  height: 21px;
  border: none;
  top: 4px;
  background-color: transparent;
  cursor: pointer;
}
@media (min-width: 481px) {
  .header__button {
    display: none;
  }
}
.header__button-line {
  position: absolute;
  width: 26px;
  height: 3px;
  left: 0px;
  top: 6px;
  background-color: #ffffff;
  border-radius: 5px;
}
.header__button-line::before {
  position: absolute;
  top: 6px;
  left: 0;
  content: "";
  height: 3px;
  width: 26px;
  background-color: #ffffff;
  border-radius: 5px;
}
.header__button-line::after {
  position: absolute;
  bottom: 6px;
  left: 11px;
  content: "";
  height: 3px;
  width: 15px;
  background-color: #ffffff;
  border-radius: 5px;
}
.header__button-line.active {
  background: none;
}
.header__button-line.active::before {
  transform: rotate(-45deg);
  top: 3px;
  transition: all 0.4s ease 0s;
}
.header__button-line.active::after {
  transform: rotate(45deg);
  bottom: -3px;
  width: 26px;
  left: 1px;
  transition: all 0.4s ease 0s;
}
.header .navigator {
  position: relative;
  left: calc((100% - 292px) / 2);
  display: none;
}
@media (min-width: 481px) and (max-width: 992px) {
  .header .navigator {
    display: flex;
    top: -71px;
    left: 0;
    justify-content: center;
  }
}
@media (min-width: 993px) {
  .header .navigator {
    display: flex;
    top: -97px;
  }
}
.header .navigator.active {
  display: block;
  z-index: 1;
}
@media (min-width: 481px) and (max-width: 992px) {
  .header .navigator.active {
    display: none;
  }
}
.header .navigator__menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 292px;
  background-color: #333333;
}
@media (min-width: 481px) and (max-width: 767px) {
  .header .navigator__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    z-index: 1;
    background-color: transparent;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .header .navigator__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 75%;
    z-index: 1;
    background-color: transparent;
  }
}
@media (min-width: 993px) {
  .header .navigator__menu {
    display: flex;
    flex-direction: row;
    width: 62%;
    z-index: 1;
    background-color: transparent;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 25px;
  }
}
.header .navigator__menu-item {
  position: relative;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 26px;
  min-height: 88px;
  display: flex;
  align-items: center;
  padding-left: 35px;
  border-bottom: 2px solid #484646;
}
@media (min-width: 481px) and (max-width: 767px) {
  .header .navigator__menu-item {
    border: none;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .header .navigator__menu-item {
    border: none;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 993px) and (max-width: 1100px) {
  .header .navigator__menu-item {
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 0;
  }
}
@media (min-width: 1101px) and (max-width: 1199px) {
  .header .navigator__menu-item {
    border: none;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 1200px) {
  .header .navigator__menu-item {
    border: none;
    padding-left: 0;
    padding-right: 0;
  }
}
.header .navigator__menu-item:last-child::after {
  position: absolute;
  left: 0;
  bottom: -16px;
  content: "";
  height: 14px;
  width: 292px;
  background-color: #333333;
}
@media (min-width: 481px) {
  .header .navigator__menu-item:last-child::after {
    display: none;
  }
}
@media (min-width: 1200px) {
  .header .navigator__menu-link {
    margin-right: 80px;
  }
}
@media (min-width: 481px) and (max-width: 992px) {
  .header .navigator__link {
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    color: #8d81ac;
  }
}
@media (min-width: 993px) {
  .header .navigator__link {
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: bold;
    color: #8d81ac;
    font-size: 16px;
    line-height: 15px;
  }
  .header .navigator__link:hover {
    color: #ffffff;
  }
}
.header .navigator__link:active {
  color: #8d81ac;
}
.header .navigator__link:focus {
  color: #8d81ac;
}
.header .navigator__link:active::after {
  position: absolute;
  left: 0;
  top: 19px;
  content: "";
  width: 8px;
  height: 53px;
  background-color: #8d81ac;
}
@media (min-width: 481px) {
  .header .navigator__link:active::after {
    display: none;
  }
}
.header .navigator__link:focus::after {
  position: absolute;
  left: 0;
  top: 19px;
  content: "";
  width: 8px;
  height: 53px;
  background-color: #8d81ac;
}
@media (min-width: 993px) {
  .header .navigator__link:focus::after {
    display: none;
  }
}
.header__unlimited {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  position: absolute;
  bottom: -56px;
  font-size: 14px;
  line-height: 14px;
  color: #848e97;
  left: calc((100% - 205px) / 2);
}
@media (min-width: 481px) and (max-width: 992px) {
  .header__unlimited {
    font-size: 14px;
    line-height: 16px;
    left: calc((100% - 205px) / 2);
    bottom: -67px;
  }
}
@media (min-width: 993px) {
  .header__unlimited {
    font-size: 14px;
    line-height: 15px;
    left: calc((100% - 205px) / 2);
    bottom: -67px;
  }
}

.fork-app {
  position: relative;
  top: 0;
  left: 0;
  min-height: 615px;
  text-align: center;
  background-image: url(./img/-header-background.jpg);
  background-position: center center;
  background-size: cover;
}
@media (min-width: 481px) and (max-width: 992px) {
  .fork-app {
    min-height: 618px;
  }
}
@media (min-width: 993px) {
  .fork-app {
    min-height: 708px;
  }
}
.fork-app__h1 {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  color: #ffffff;
  padding: 50px 0px 19px;
}
@media (min-width: 481px) and (max-width: 992px) {
  .fork-app__h1 {
    font-size: 72px;
    line-height: 72px;
    padding: 68.91px 0px 19px;
  }
}
@media (min-width: 993px) {
  .fork-app__h1 {
    font-size: 82px;
    line-height: 82px;
    padding: 120px 0px 19px;
  }
}
.fork-app__text {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #8d81ac;
  text-align: center;
  padding: 0 11px 14px;
  text-transform: capitalize;
}
@media (min-width: 481px) and (max-width: 992px) {
  .fork-app__text {
    font-family: "Lato", "Arial", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    padding-bottom: 19px;
    text-transform: lowercase;
  }
  .fork-app__text::first-letter {
    text-transform: uppercase;
  }
}
@media (min-width: 993px) {
  .fork-app__text {
    font-size: 30px;
    line-height: 30px;
    padding-bottom: 19px;
    text-transform: lowercase;
  }
  .fork-app__text::first-letter {
    text-transform: uppercase;
  }
}
.fork-app__text2 {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #848e97;
}
@media (min-width: 993px) {
  .fork-app__text2 {
    font-size: 16px;
    line-height: 16px;
  }
}
.fork-app__download {
  position: absolute;
  bottom: -19px;
  left: calc((100% - 290px) / 2);
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #ffffff;
  background-color: #8d81ac;
  padding: 13px 29px;
  border-radius: 40px;
}
@media (min-width: 481px) and (max-width: 992px) {
  .fork-app__download {
    bottom: -32px;
    left: calc((100% - 383px) / 2);
    font-size: 21px;
    line-height: 23px;
    padding: 23px 61px;
  }
}
@media (min-width: 993px) {
  .fork-app__download {
    font-size: 21px;
    line-height: 22px;
    padding: 23px 61px;
    bottom: -32px;
    left: calc((100% - 383px) / 2);
  }
  .fork-app__download:hover {
    background-color: #ffffff;
    color: #8d81ac;
    border: #8d81ac 2px solid;
  }
}

@media (min-width: 993px) {
  .hereis {
    background-color: #F4F4F4;
  }
}

.hereis-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 88px 0 6px 0;
}
@media (min-width: 481px) {
  .hereis-wrapper {
    margin-top: 98px;
  }
}
@media (min-width: 993px) {
  .hereis-wrapper {
    display: grid;
    margin: 0 auto;
    height: 711px;
    margin-top: 70px;
    grid-template: repeat(4, 1fr), repeat(2, 1fr);
    grid-template-areas: "list title" "list img" "list img" "list img";
    max-width: 1200px;
  }
}

.hereis-title {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #8d81ac;
  margin: 32px 47px 0 43px;
}
.hereis-title::before {
  position: relative;
  content: "<";
  padding-bottom: 40px;
}
@media (min-width: 481px) {
  .hereis-title {
    margin-top: 62px;
    font-size: 42px;
    line-height: 44px;
  }
}
@media (min-width: 993px) {
  .hereis-title {
    font-size: 48px;
    line-height: 50px;
    margin: 0;
    padding: 0;
    margin-top: 91.11px;
    margin-left: 23px;
    grid-area: title;
    text-align: left;
  }
}

.hereis__list {
  margin: 0;
  grid-area: list;
}
@media (min-width: 993px) {
  .hereis__list {
    height: 100%;
  }
}

.hereis__list-item {
  margin: 36px 26px 2px 25px;
}
.hereis__list-item:nth-child(3) {
  margin-top: 38px;
}
.hereis__list-item:nth-child(4) {
  margin: 40px 22px 73px 30px;
}
@media (min-width: 481px) {
  .hereis__list-item {
    display: flex;
    height: 90px;
    align-items: flex-start;
    margin: 52px 5px 0 30px;
  }
  .hereis__list-item:nth-child(2) {
    padding-left: 1px;
  }
  .hereis__list-item:nth-child(3) {
    padding-left: 16px;
  }
  .hereis__list-item:nth-child(4) {
    padding-left: 11px;
  }
}
@media (min-width: 481px) and (min-width: 993px) {
  .hereis__list-item {
    position: static;
    height: 110px;
    padding: 0;
    margin-top: 100px;
    max-width: 515px;
  }
  .hereis__list-item:nth-child(2) {
    margin-top: 35.57px;
  }
  .hereis__list-item:nth-child(3) {
    margin-top: 35.57px;
  }
  .hereis__list-item:nth-child(4) {
    margin-top: 36.57px;
  }
}

.hereis__item-icon {
  display: block;
  margin: 0 auto;
}
@media (min-width: 481px) {
  .hereis__item-icon {
    display: flex;
    position: absolute;
  }
}

.hereis__text-wrapper {
  margin-top: 27px;
}
@media (min-width: 481px) {
  .hereis__text-wrapper {
    display: flex;
    flex-direction: column;
    padding-left: 134px;
    align-self: center;
    margin-right: 22px;
    margin-bottom: 40px;
  }
}

#hereis-2 {
  margin-top: 21px;
}
@media (min-width: 481px) {
  #hereis-2 {
    margin-left: 1px;
  }
}

#hereis-3 {
  margin-top: 20px;
}
@media (min-width: 481px) {
  #hereis-3 {
    margin-left: -16px;
  }
}

#hereis-4 {
  margin-top: 23px;
}
@media (min-width: 481px) {
  #hereis-4 {
    margin-left: -11px;
  }
}

.hereis__item-title {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  justify-content: center;
  color: #000000;
  margin-bottom: 14px;
}
@media (min-width: 481px) {
  .hereis__item-title {
    text-align: left;
    margin: 0;
    line-height: 21px;
  }
}
@media (min-width: 993px) {
  .hereis__item-title {
    margin-top: -32px;
  }
}

.hereis__item-text {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #848e97;
}
@media (min-width: 481px) {
  .hereis__item-text {
    font-family: "Montserrat", "Arial", sans-serif;
    height: 56px;
    margin-top: 15.83px;
    text-align: left;
  }
}

.hereis__img-320 {
  display: flex;
  align-self: flex-end;
  margin-top: 7px;
  max-width: 100%;
}
@media (min-width: 481px) {
  .hereis__img-320 {
    display: none;
  }
}

.hereis__img-768 {
  display: none;
}
@media (min-width: 481px) {
  .hereis__img-768 {
    display: flex;
    align-self: flex-end;
    max-width: 100%;
  }
}
@media (min-width: 993px) {
  .hereis__img-768 {
    align-self: center;
    margin: 0;
    grid-area: img;
    margin-top: -30px;
  }
}

.people {
  width: 100%;
  background-image: url(./img/people-are-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media (min-width: 481px) and (max-width: 992px) {
  .people {
    background-image: url(./img/people-are-full-background.jpg);
    background-position: center center;
    background-size: cover;
  }
}
@media (min-width: 993px) {
  .people {
    background-image: url(./img/people-are-full-background.jpg);
    background-position: center center;
    background-size: cover;
  }
}
.people--h2 {
  padding-top: 57px;
  padding-bottom: 53px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  color: #ffffff;
}
@media (min-width: 481px) and (max-width: 992px) {
  .people--h2 {
    font-size: 42px;
    line-height: 44px;
    margin-top: 87px;
    padding-bottom: 88px;
  }
}
@media (min-width: 993px) {
  .people--h2 {
    font-size: 48px;
    line-height: 50px;
    margin-top: 108px;
    padding-bottom: 82px;
  }
}
.people__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 481px) and (max-width: 992px) {
  .people__menu {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
  }
}
@media (min-width: 993px) {
  .people__menu {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: center;
  }
}
.people__menu-item {
  text-align: center;
  padding: 0 15px 45px 14px;
}
.people__menu-item:last-child {
  padding-bottom: 37px;
}
@media (min-width: 481px) and (max-width: 992px) {
  .people__menu-item:last-child {
    padding-bottom: 68px;
  }
}
@media (min-width: 993px) {
  .people__menu-item:last-child {
    padding-bottom: 118px;
  }
}
@media (min-width: 481px) and (max-width: 992px) {
  .people__menu-item {
    width: 40%;
    padding: 0 25px 56px 20x;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media (min-width: 993px) {
  .people__menu-item {
    width: 30%;
    padding-bottom: 116px;
    padding: 0 3px 56px;
  }
}
.people__menu-text {
  font-family: "Lato", "Arial", sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  padding-top: 29px;
  text-align: center;
  font-style: italic;
}
.people--text {
  position: relative;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #a291a5;
  padding: 0 35px 36px 34px;
}
@media (min-width: 481px) and (max-width: 992px) {
  .people--text {
    margin-bottom: 88px;
  }
}
@media (min-width: 993px) {
  .people--text {
    width: 887px;
    margin: 0 auto;
    margin-bottom: 13.5px;
  }
}
.people--text::after {
  content: "";
  position: absolute;
  bottom: 12px;
  left: calc((100% - 263px) / 2);
  width: 245px;
  height: 2px;
  background-color: #645766;
}
@media (min-width: 481px) and (max-width: 767px) {
  .people--text::after {
    width: 364px;
    left: calc((100% - 364px) / 2);
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .people--text::after {
    width: 555px;
    left: calc((100% - 555px) / 2);
  }
}
@media (min-width: 993px) {
  .people--text::after {
    width: 780px;
    left: 85px;
  }
}

.revolutionary-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
}
@media (min-width: 993px) {
  .revolutionary-wrapper {
    margin-bottom: 70px;
  }
}

.revolutionary-title {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #635C73;
  margin-top: 40.5px;
  margin-bottom: 0;
}
@media (min-width: 481px) {
  .revolutionary-title {
    margin-top: 73.5px;
    margin-bottom: 0;
    font-size: 42px;
    line-height: 42px;
  }
}
@media (min-width: 993px) {
  .revolutionary-title {
    margin-top: 66px;
    font-size: 54px;
    line-height: 54px;
  }
}

.revolutionary-text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #323232;
  margin: 27px 26px 36px 18px;
}
@media (min-width: 481px) {
  .revolutionary-text {
    margin: 33px 40px 24px 39px;
    font-size: 21px;
    line-height: 32px;
  }
}
@media (min-width: 993px) {
  .revolutionary-text {
    margin: 35px 189px 13px 150px;
  }
}

.revolutionary__btn-list {
  display: flex;
  flex-wrap: wrap;
  line-height: 24px;
  max-height: 100%;
  justify-content: center;
  text-align: center;
}

.revolutionary__list-item {
  background-color: #f1f1f1;
  height: 26px;
  border-radius: 4px;
  border: #e3e3e3 1px solid;
  margin-right: 8px;
  font-size: 12px;
  color: #333333;
  line-height: 18px;
  list-style-type: none;
  margin-bottom: 20px;
}
.revolutionary__list-item:nth-child(3) {
  margin-bottom: 0;
}
@media (min-width: 481px) {
  .revolutionary__list-item {
    margin-bottom: 0;
  }
}

.revolutionary__btn-icon {
  padding-left: 8px;
}

.revolutionary__btn-link {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.revolutionary__btn-text {
  font-family: "Montserrat", "Arial", sans-serif;
  position: relative;
  color: #333333;
  display: inline-block;
  padding: 0 6px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  font-weight: bold;
}

.revolutionary__link-counter {
  font-family: "Montserrat", "Arial", sans-serif;
  display: inline-block;
  min-width: 20px;
  padding: 0 6px;
  font-size: 12px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  color: #333333;
  background-color: #fff;
  font-weight: bold;
  border-left: #e3e3e3 1px solid;
}

body {
  max-width: 100%;
  min-width: 320px;
  margin: 0 auto;
  overflow-x: hidden;
}

.people > .container,
.revolutionary-wrapper,
.hereis-wrapper,
.fork-wrapper {
  padding: 0 10px;
}